ul {
  list-style-type: none;
}

span {
  &.ticket-open {
    color: black;

    .ticket-prio-very-high {
      color: red;
    }
    .ticket-prio-high {
      color: darkorange;
    }
    .ticket-prio-medium {
      color: cornflowerblue;
    }
    .ticket-prio-low {
      color: green;
    }
    .ticket-prio-low-importance {
      color: darkgreen;
    }
  }

  &.ticket-closed {
    color: gray;
  }
}
