<div *ngIf="ticket.status" class="ticket-details">
  <div class="ticket-main-details">
    <div>
      {{ticket.subject}}
    </div>
    <div>
      <button (click)="editTicket(ticket)">Edit</button>
      <button (click)="deleteTicket(ticket)">Delete</button>
      <button (click)="closeTicket(ticket)">Close</button>
    </div>
  </div>
  <div class="ticket-additional-details">
    <span>Type: {{ticket.type}}</span>
    <span>Customer: {{ticket.customer}}</span>
    <span>Service type: {{ticket.serviceType}}</span>
    <span>Priority: {{ticket.priority}}</span>
    <span>Description: {{ticket.description}}</span>
    <!--<span>Status: {{ticket.status}}</span>-->
    <span>Status: OPEN</span>
    <span>Opened at: {{ticket.openDateTime}}</span>
    <!--<span>Closed at: {{ticket.closeDateTime}}</span>-->
  </div>
</div>
